@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Mobile first */

* {
    font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
    font-size: 1em;
    margin: 0px;
    padding: 0px;
}

:root {
    --color1: #775D98;
    --color2: #FFE047;
    --color3: #3F3F3F;
    --color4: #3AAED8;
    --color5: #FC6722;
}

body {
    background-color: rgb(49, 49, 49);
    height: 100vh;
}

/* Header */
header {
    background-color: rgb(63, 63, 63);
    border-radius: 0px 0px 20px 20px;
    box-shadow: 0px 7px 2px -1px #464646;
    display: block;
    height: 60px;
    padding: 20px;
    margin: auto;
    max-width: 600px;
}
header > h1 {
    color: whitesmoke;
    font-size: 2.5em;
    padding: 5px 0px;
    text-align: left;
}
header > p {
    color: whitesmoke;
    font-size: 1.1em;
    text-align: left;
    padding-bottom: 10px;
    transform: translateY(-3px);
}

/* Burger menu button */
span#burger {
    border: 2px solid rgb(113, 113, 113);
    border-radius: 10px;
    cursor: pointer;
    display: block;
    max-width: 83px;
    padding: 5px 10px;
    text-align: center;
    transform: translate(130px, -70px);
}
span#burger > i,
span#burger > p {
    color: whitesmoke;
    transform: translateY(1px);
}
span#burger > p {
    display: inline-block;
    font-size: 1.2em;
    padding-left: 5px;
    text-transform: uppercase;
    transform: translateY(2px);
}

/* Header menu */
nav#menu {
    display: none;
    transform: translateY(-20px);
}
nav#menu > li {
    font-size: 1.2em;
    list-style-type: none;
    padding: 5px 0px;
    text-align: center;
}

nav#menu > li > a {
    color: whitesmoke;
}
nav#menu > li > a:hover {
    color: var(--color4);
}

/* Main content */
main {
    background-color: rgb(63, 63, 63);
    border-radius: 20px;
    box-shadow: 0px 7px 2px -1px #464646;
    display: block;
    margin: auto;
    margin-top: 20px;
    max-width: 600px;
    padding: 15px;
}

section > h2 {
    color: var(--color2);
    font-size: 1.7em;
}
section > p {
    color: whitesmoke;
    line-height: 20px;
    text-align: justify;
    margin-bottom: 10px;
}

section#greetings {
    padding-bottom: 10px;
}
section#greetings > ul#socials {
    text-align: center;
    padding: 20px 0px 20px 0px;
}
section#greetings > ul#socials > li {
    display: inline-block;
    list-style-type: none;
    padding-left: 5px;
}

section#greetings > ul#socials > li > a {
    color: whitesmoke;
}
section#greetings > ul#socials > li > a:hover {
    color: var(--color4);
}

section#cev {
    padding-top: 20px;
}
section#cev > ul > li {
    color: whitesmoke;
    list-style-position: inside;
    padding-bottom: 10px;
    padding-left: 20px;
}

section#cev a {
    background-color: var(--color1);
    border-radius: 5px;
    color: white;
    padding: 2px 5px;
    text-decoration: none;
}
section#cev a::after {
    content:'\00A0\0279A';
}
section#cev a:hover {
    text-decoration: underline;
}

/* Footer */
footer {
    background-color: rgb(63, 63, 63);
    box-shadow: 0px 7px 2px -1px #464646;
    color: whitesmoke;
    font-size: 0.8em;
    padding: 10px;
    margin: auto;
    margin-top: 20px;
    max-width: 100%;
    text-align: center;
}