@charset "UTF-8";

/* Laptops/desktops, large laptops and desktops, TVs */
@media screen and (min-width: 992px) { 
    header {
        height: 110px;
    }
    
    span#burger {
        display: none;
    }
    
    nav#menu {
        display: block;
        margin-top: 30px;
        text-align: center;
    }
    nav#menu > li {
        display: inline-block;
    }
    nav#menu > li > a {
        padding: 5px;
    }

    main {
        max-width: 800px;
    }
}